In [ ]:
!pip install pymongo

In [4]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [7]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Contoh Query Data
for employee in collection.find():
    print(employee)

Data inserted
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8c'), 'name': 'Ahmada', 'department': 'IT', 'age': 21, 'salary': 65000}
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8d'), 'name': 'Nopal', 'department': 'HR', 'age': 20, 'salary': 40000}
{'_id': ObjectId('6906c32e8e012be94cd92d7f'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [8]:
# Import library pymongo
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
collection = db["employees"]

# ======== INSERT DATA ========
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data Alice inserted')

# Insert beberapa data tambahan
employees = [
    {'name': 'Ahmada', 'department': 'IT', 'age': 21, 'salary': 50000},
    {'name': 'Nopal', 'department': 'HR', 'age': 20, 'salary': 40000},
    {'name': 'Ilham', 'department': 'Marketing', 'age': 35, 'salary': 60000}
]
collection.insert_many(employees)
print('Beberapa data tambahan berhasil diinsert')

# ======== UPDATE DATA ========
# Misal: Update gaji Bob menjadi 6500
collection.update_one({'name': 'Ahmada'}, {'$set': {'salary': 65000}})
print("Data Ahmada berhasil diupdate")

# ======== DELETE DATA ========
# Misal: Hapus data karyawan bernama Charlie
collection.delete_one({'name': 'Ilham'})
print("Data Ilham berhasil dihapus")

# ======== QUERY DATA ========
print("\nData karyawan saat ini:")
for employee in collection.find():
    print(employee)

Data Alice inserted
Beberapa data tambahan berhasil diinsert
Data Ahmada berhasil diupdate
Data Ilham berhasil dihapus

Data karyawan saat ini:
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8c'), 'name': 'Ahmada', 'department': 'IT', 'age': 21, 'salary': 65000}
{'_id': ObjectId('6905e2c3c6f140a0efbf7c8d'), 'name': 'Nopal', 'department': 'HR', 'age': 20, 'salary': 40000}
{'_id': ObjectId('6906c32e8e012be94cd92d7f'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c59d8e012be94cd92d81'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6906c59d8e012be94cd92d82'), 'name': 'Ahmada', 'department': 'IT', 'age': 21, 'salary': 50000}
{'_id': ObjectId('6906c59d8e012be94cd92d83'), 'name': 'Nopal', 'department': 'HR', 'age': 20, 'salary': 40000}

In [9]:
#ini perintah untuk menghapus semua data yang telah dikoleksi
collection.delete_many({})
print("Semua data di koleksi 'employees' telah dihapus.")

Semua data di koleksi 'employees' telah dihapus.

In [13]:
#Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

In [14]:
# Import library
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
collection = db["employees"]

# ====== AGGREGATION PIPELINE ======
# Menghitung rata-rata gaji per departemen
pipeline = [
    {
        '$group': {
            '_id': '$department',  # Group berdasarkan departemen
            'average_salary': {'$avg': '$salary'}  # Hitung rata-rata gaji
        }
    },
    {
        '$sort': {'average_salary': -1}  # (opsional) urutkan dari gaji tertinggi
    }
]

# Jalankan aggregation dan tampilkan hasilnya
print("Rata-rata gaji per departemen:\n")
for result in collection.aggregate(pipeline):
    print(f"Departemen: {result['_id']}, Rata-rata Gaji: {result['average_salary']:.2f}")

Rata-rata gaji per departemen:

In [15]:
# Import library
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")

# Gunakan atau buat database baru
db = client["company_db"]

# Buat koleksi baru bernama 'products'
products_collection = db["products"]

# Data produk 
products_data = [
    {'name': 'Laptop Lenovo ThinkPad', 'category': 'Electronics', 'price': 15000000, 'stock': 12},
    {'name': 'Mouse Logitech M590', 'category': 'Accessories', 'price': 450000, 'stock': 50},
    {'name': 'Keyboard Mechanical Keychron K2', 'category': 'Accessories', 'price': 1200000, 'stock': 30},
    {'name': 'Monitor Samsung 24 inch', 'category': 'Electronics', 'price': 2100000, 'stock': 20},
    {'name': 'Headset Razer Kraken', 'category': 'Audio', 'price': 1800000, 'stock': 15},
    {'name': 'Smartphone Samsung Galaxy A55', 'category': 'Electronics', 'price': 7200000, 'stock': 25},
    {'name': 'USB Flashdisk SanDisk 64GB', 'category': 'Storage', 'price': 150000, 'stock': 80},
    {'name': 'External Hard Drive WD 1TB', 'category': 'Storage', 'price': 950000, 'stock': 40},
    {'name': 'Printer Canon Pixma G2020', 'category': 'Office', 'price': 2100000, 'stock': 10},
    {'name': 'Chair Ergonomic OfficePro', 'category': 'Furniture', 'price': 1850000, 'stock': 8}
]

# Masukkan semua data ke koleksi
products_collection.insert_many(products_data)

print("‚úÖ 10 produk berhasil dimasukkan ke koleksi 'products'")

# Tampilkan semua data produk untuk verifikasi
print("\nData produk di database:")
for product in products_collection.find():
    print(product)

‚úÖ 10 produk berhasil dimasukkan ke koleksi 'products'

Data produk di database:
{'_id': ObjectId('6906c6848e012be94cd92d87'), 'name': 'Laptop Lenovo ThinkPad', 'category': 'Electronics', 'price': 15000000, 'stock': 12}
{'_id': ObjectId('6906c6848e012be94cd92d88'), 'name': 'Mouse Logitech M590', 'category': 'Accessories', 'price': 450000, 'stock': 50}
{'_id': ObjectId('6906c6848e012be94cd92d89'), 'name': 'Keyboard Mechanical Keychron K2', 'category': 'Accessories', 'price': 1200000, 'stock': 30}
{'_id': ObjectId('6906c6848e012be94cd92d8a'), 'name': 'Monitor Samsung 24 inch', 'category': 'Electronics', 'price': 2100000, 'stock': 20}
{'_id': ObjectId('6906c6848e012be94cd92d8b'), 'name': 'Headset Razer Kraken', 'category': 'Audio', 'price': 1800000, 'stock': 15}
{'_id': ObjectId('6906c6848e012be94cd92d8c'), 'name': 'Smartphone Samsung Galaxy A55', 'category': 'Electronics', 'price': 7200000, 'stock': 25}
{'_id': ObjectId('6906c6848e012be94cd92d8d'), 'name': 'USB Flashdisk SanDisk 64GB', 'category': 'Storage', 'price': 150000, 'stock': 80}
{'_id': ObjectId('6906c6848e012be94cd92d8e'), 'name': 'External Hard Drive WD 1TB', 'category': 'Storage', 'price': 950000, 'stock': 40}
{'_id': ObjectId('6906c6848e012be94cd92d8f'), 'name': 'Printer Canon Pixma G2020', 'category': 'Office', 'price': 2100000, 'stock': 10}
{'_id': ObjectId('6906c6848e012be94cd92d90'), 'name': 'Chair Ergonomic OfficePro', 'category': 'Furniture', 'price': 1850000, 'stock': 8}

In [16]:
# 1Ô∏è‚É£ Hitung rata-rata harga semua produk
avg_price_result = products_collection.aggregate([
    {"$group": {"_id": None, "avg_price": {"$avg": "$price"}}}
])

# Ambil nilai rata-rata dari hasil agregasi
avg_price = list(avg_price_result)[0]["avg_price"]

print(f"üí∞ Rata-rata harga produk: {avg_price:,.0f}")

# 2Ô∏è‚É£ Query untuk menemukan produk dengan harga di atas rata-rata
expensive_products = products_collection.find({"price": {"$gt": avg_price}})

print("\nüì¶ Produk dengan harga di atas rata-rata:")
for product in expensive_products:
    print(f"- {product['name']} ({product['price']:,.0f})")

üí∞ Rata-rata harga produk: 3,280,000

üì¶ Produk dengan harga di atas rata-rata:
- Laptop Lenovo ThinkPad (15,000,000)
- Smartphone Samsung Galaxy A55 (7,200,000)

In [17]:
# Pipeline untuk menghitung total produk per kategori
pipeline = [
    {
        "$group": {
            "_id": "$category",          # Kelompokkan berdasarkan kategori
            "total_products": {"$sum": 1}  # Hitung jumlah produk di setiap kategori
        }
    },
    {
        "$sort": {"total_products": -1}   # (Opsional) Urutkan dari kategori dengan produk terbanyak
    }
]

# Jalankan pipeline
results = products_collection.aggregate(pipeline)

# Tampilkan hasil
print("üìä Total produk per kategori:")
for result in results:
    print(f"- {result['_id']}: {result['total_products']} produk")

üìä Total produk per kategori:
- Electronics: 3 produk
- Accessories: 2 produk
- Storage: 2 produk
- Office: 1 produk
- Audio: 1 produk
- Furniture: 1 produk

‚úÖ 10 produk berhasil dimasukkan ke koleksi 'karyawan'

Data produk di database:
{'_id': ObjectId('6906c6848e012be94cd92d87'), 'name': 'Laptop Lenovo ThinkPad', 'category': 'Electronics', 'price': 15000000, 'stock': 12}
{'_id': ObjectId('6906c6848e012be94cd92d88'), 'name': 'Mouse Logitech M590', 'category': 'Accessories', 'price': 450000, 'stock': 50}
{'_id': ObjectId('6906c6848e012be94cd92d89'), 'name': 'Keyboard Mechanical Keychron K2', 'category': 'Accessories', 'price': 1200000, 'stock': 30}
{'_id': ObjectId('6906c6848e012be94cd92d8a'), 'name': 'Monitor Samsung 24 inch', 'category': 'Electronics', 'price': 2100000, 'stock': 20}
{'_id': ObjectId('6906c6848e012be94cd92d8b'), 'name': 'Headset Razer Kraken', 'category': 'Audio', 'price': 1800000, 'stock': 15}
{'_id': ObjectId('6906c6848e012be94cd92d8c'), 'name': 'Smartphone Samsung Galaxy A55', 'category': 'Electronics', 'price': 7200000, 'stock': 25}
{'_id': ObjectId('6906c6848e012be94cd92d8d'), 'name': 'USB Flashdisk SanDisk 64GB', 'category': 'Storage', 'price': 150000, 'stock': 80}
{'_id': ObjectId('6906c6848e012be94cd92d8e'), 'name': 'External Hard Drive WD 1TB', 'category': 'Storage', 'price': 950000, 'stock': 40}
{'_id': ObjectId('6906c6848e012be94cd92d8f'), 'name': 'Printer Canon Pixma G2020', 'category': 'Office', 'price': 2100000, 'stock': 10}
{'_id': ObjectId('6906c6848e012be94cd92d90'), 'name': 'Chair Ergonomic OfficePro', 'category': 'Furniture', 'price': 1850000, 'stock': 8}
{'_id': ObjectId('6906d5288e012be94cd92d93'), 'name': 'Ahmada Maulana', 'departement': 'Programer', 'age': 20, 'salary': 12000000}
{'_id': ObjectId('6906d5288e012be94cd92d94'), 'name': 'Nopal Miftah', 'departement': 'HR', 'age': 20, 'salary': 6000000}
{'_id': ObjectId('6906d5288e012be94cd92d95'), 'name': 'Ilham Ambalan', 'departement': 'Finance', 'age': 21, 'salary': 5000000}
{'_id': ObjectId('6906d5288e012be94cd92d96'), 'name': 'Rasyad Lintang', 'departement': 'Programer', 'age': 19, 'salary': 7000000}
{'_id': ObjectId('6906d5288e012be94cd92d97'), 'name': 'Andra Firdaus', 'departement': 'Designer', 'age': 20, 'salary': 10000000}
{'_id': ObjectId('6906d5288e012be94cd92d98'), 'name': 'Zulfa Nasihin', 'departement': 'Programer', 'age': 21, 'salary': 3000000}
{'_id': ObjectId('6906d5288e012be94cd92d99'), 'name': 'Aditya setyo', 'departement': 'Finance', 'age': 19, 'salary': 6000000}
{'_id': ObjectId('6906d5288e012be94cd92d9a'), 'name': 'Akhnas Malik', 'departement': 'HR', 'age': 19, 'salary': 10000000}
{'_id': ObjectId('6906d5288e012be94cd92d9b'), 'name': 'Hanip Alathas', 'departement': 'Programer', 'age': 20, 'salary': 2000000}
{'_id': ObjectId('6906d5288e012be94cd92d9c'), 'name': 'Widya dana', 'departement': 'Programer', 'age': 22, 'salary': 5000000}
{'_id': ObjectId('6906d5668e012be94cd92d9e'), 'name': 'Ahmada Maulana', 'departement': 'Programer', 'age': 20, 'salary': 12000000}
{'_id': ObjectId('6906d5668e012be94cd92d9f'), 'name': 'Nopal Miftah', 'departement': 'HR', 'age': 20, 'salary': 6000000}
{'_id': ObjectId('6906d5668e012be94cd92da0'), 'name': 'Ilham Ambalan', 'departement': 'Finance', 'age': 21, 'salary': 5000000}
{'_id': ObjectId('6906d5668e012be94cd92da1'), 'name': 'Rasyad Lintang', 'departement': 'Programer', 'age': 19, 'salary': 7000000}
{'_id': ObjectId('6906d5668e012be94cd92da2'), 'name': 'Andra Firdaus', 'departement': 'Designer', 'age': 20, 'salary': 10000000}
{'_id': ObjectId('6906d5668e012be94cd92da3'), 'name': 'Zulfa Nasihin', 'departement': 'Programer', 'age': 21, 'salary': 3000000}
{'_id': ObjectId('6906d5668e012be94cd92da4'), 'name': 'Aditya setyo', 'departement': 'Finance', 'age': 19, 'salary': 6000000}
{'_id': ObjectId('6906d5668e012be94cd92da5'), 'name': 'Akhnas Malik', 'departement': 'HR', 'age': 19, 'salary': 10000000}
{'_id': ObjectId('6906d5668e012be94cd92da6'), 'name': 'Hanip Alathas', 'departement': 'Programer', 'age': 20, 'salary': 2000000}
{'_id': ObjectId('6906d5668e012be94cd92da7'), 'name': 'Widya dana', 'departement': 'Programer', 'age': 22, 'salary': 5000000}
{'_id': ObjectId('6906d5708e012be94cd92da9'), 'name': 'Ahmada Maulana', 'departement': 'Programer', 'age': 20, 'salary': 12000000}
{'_id': ObjectId('6906d5708e012be94cd92daa'), 'name': 'Nopal Miftah', 'departement': 'HR', 'age': 20, 'salary': 6000000}
{'_id': ObjectId('6906d5708e012be94cd92dab'), 'name': 'Ilham Ambalan', 'departement': 'Finance', 'age': 21, 'salary': 5000000}
{'_id': ObjectId('6906d5708e012be94cd92dac'), 'name': 'Rasyad Lintang', 'departement': 'Programer', 'age': 19, 'salary': 7000000}
{'_id': ObjectId('6906d5708e012be94cd92dad'), 'name': 'Andra Firdaus', 'departement': 'Designer', 'age': 20, 'salary': 10000000}
{'_id': ObjectId('6906d5708e012be94cd92dae'), 'name': 'Zulfa Nasihin', 'departement': 'Programer', 'age': 21, 'salary': 3000000}
{'_id': ObjectId('6906d5708e012be94cd92daf'), 'name': 'Aditya setyo', 'departement': 'Finance', 'age': 19, 'salary': 6000000}
{'_id': ObjectId('6906d5708e012be94cd92db0'), 'name': 'Akhnas Malik', 'departement': 'HR', 'age': 19, 'salary': 10000000}
{'_id': ObjectId('6906d5708e012be94cd92db1'), 'name': 'Hanip Alathas', 'departement': 'Programer', 'age': 20, 'salary': 2000000}
{'_id': ObjectId('6906d5708e012be94cd92db2'), 'name': 'Widya dana', 'departement': 'Programer', 'age': 22, 'salary': 5000000}
{'_id': ObjectId('6906d5818e012be94cd92db4'), 'name': 'Ahmada Maulana', 'departement': 'Programer', 'age': 20, 'salary': 12000000}
{'_id': ObjectId('6906d5818e012be94cd92db5'), 'name': 'Nopal Miftah', 'departement': 'HR', 'age': 20, 'salary': 6000000}
{'_id': ObjectId('6906d5818e012be94cd92db6'), 'name': 'Ilham Ambalan', 'departement': 'Finance', 'age': 21, 'salary': 5000000}
{'_id': ObjectId('6906d5818e012be94cd92db7'), 'name': 'Rasyad Lintang', 'departement': 'Programer', 'age': 19, 'salary': 7000000}
{'_id': ObjectId('6906d5818e012be94cd92db8'), 'name': 'Andra Firdaus', 'departement': 'Designer', 'age': 20, 'salary': 10000000}
{'_id': ObjectId('6906d5818e012be94cd92db9'), 'name': 'Zulfa Nasihin', 'departement': 'Programer', 'age': 21, 'salary': 3000000}
{'_id': ObjectId('6906d5818e012be94cd92dba'), 'name': 'Aditya setyo', 'departement': 'Finance', 'age': 19, 'salary': 6000000}
{'_id': ObjectId('6906d5818e012be94cd92dbb'), 'name': 'Akhnas Malik', 'departement': 'HR', 'age': 19, 'salary': 10000000}
{'_id': ObjectId('6906d5818e012be94cd92dbc'), 'name': 'Hanip Alathas', 'departement': 'Programer', 'age': 20, 'salary': 2000000}
{'_id': ObjectId('6906d5818e012be94cd92dbd'), 'name': 'Widya dana', 'departement': 'Programer', 'age': 22, 'salary': 5000000}
Semua data di koleksi 'employees' telah dihapus.

In [1]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
karyawan_collection = db["karyawan"]

# Data 50 karyawan dengan 5 departemen berbeda
karyawan_data = [
    {'name': 'Ahmad Fauzi', 'departement': 'Programmer', 'age': 24, 'salary': 12000000},
    {'name': 'Rina Kartika', 'departement': 'Programmer', 'age': 22, 'salary': 8500000},
    {'name': 'Budi Santoso', 'departement': 'Programmer', 'age': 26, 'salary': 10000000},
    {'name': 'Nina Aprilia', 'departement': 'Programmer', 'age': 23, 'salary': 9500000},
    {'name': 'Rizky Saputra', 'departement': 'Programmer', 'age': 25, 'salary': 11000000},
    {'name': 'Andi Rahman', 'departement': 'Programmer', 'age': 27, 'salary': 13000000},
    {'name': 'Dewi Anggraini', 'departement': 'Programmer', 'age': 24, 'salary': 9000000},
    {'name': 'Fajar Maulana', 'departement': 'Programmer', 'age': 28, 'salary': 12500000},
    {'name': 'Yusuf Rahmat', 'departement': 'Programmer', 'age': 29, 'salary': 11500000},
    {'name': 'Lina Nurul', 'departement': 'Programmer', 'age': 23, 'salary': 8800000},

    {'name': 'Siti Rahma', 'departement': 'Designer', 'age': 25, 'salary': 9000000},
    {'name': 'Doni Pratama', 'departement': 'Designer', 'age': 24, 'salary': 8000000},
    {'name': 'Wulan Ayu', 'departement': 'Designer', 'age': 26, 'salary': 9500000},
    {'name': 'Hendra Kusuma', 'departement': 'Designer', 'age': 23, 'salary': 8700000},
    {'name': 'Novi Lestari', 'departement': 'Designer', 'age': 27, 'salary': 10000000},
    {'name': 'Farah Amalia', 'departement': 'Designer', 'age': 22, 'salary': 8500000},
    {'name': 'Rafi Ramadhan', 'departement': 'Designer', 'age': 28, 'salary': 9700000},
    {'name': 'Citra Dewi', 'departement': 'Designer', 'age': 24, 'salary': 9300000},
    {'name': 'Reza Akbar', 'departement': 'Designer', 'age': 25, 'salary': 8900000},
    {'name': 'Salsa Nadira', 'departement': 'Designer', 'age': 26, 'salary': 9500000},

    {'name': 'Bayu Hidayat', 'departement': 'Finance', 'age': 27, 'salary': 7500000},
    {'name': 'Ayu Fadillah', 'departement': 'Finance', 'age': 26, 'salary': 8200000},
    {'name': 'Teguh Santoso', 'departement': 'Finance', 'age': 25, 'salary': 7800000},
    {'name': 'Rika Amelia', 'departement': 'Finance', 'age': 28, 'salary': 8300000},
    {'name': 'Andika Putra', 'departement': 'Finance', 'age': 30, 'salary': 9000000},
    {'name': 'Lutfi Hidayah', 'departement': 'Finance', 'age': 24, 'salary': 7600000},
    {'name': 'Sari Indah', 'departement': 'Finance', 'age': 25, 'salary': 8500000},
    {'name': 'Dian Lestari', 'departement': 'Finance', 'age': 27, 'salary': 8700000},
    {'name': 'Rino Saputra', 'departement': 'Finance', 'age': 29, 'salary': 9200000},
    {'name': 'Galuh Prameswari', 'departement': 'Finance', 'age': 23, 'salary': 7400000},

    {'name': 'Romi Wijaya', 'departement': 'HR', 'age': 28, 'salary': 8800000},
    {'name': 'Lina Setiawan', 'departement': 'HR', 'age': 27, 'salary': 8500000},
    {'name': 'Hafiz Maulana', 'departement': 'HR', 'age': 29, 'salary': 9200000},
    {'name': 'Mega Safitri', 'departement': 'HR', 'age': 26, 'salary': 8700000},
    {'name': 'Indah Paramita', 'departement': 'HR', 'age': 25, 'salary': 8200000},
    {'name': 'Andri Kurniawan', 'departement': 'HR', 'age': 30, 'salary': 9500000},
    {'name': 'Rara Putri', 'departement': 'HR', 'age': 24, 'salary': 8000000},
    {'name': 'Fauzan Rizki', 'departement': 'HR', 'age': 23, 'salary': 8300000},
    {'name': 'Melisa Rani', 'departement': 'HR', 'age': 28, 'salary': 8900000},
    {'name': 'Agus Salim', 'departement': 'HR', 'age': 29, 'salary': 9100000},

    {'name': 'Hendra Saputra', 'departement': 'Marketing', 'age': 26, 'salary': 8500000},
    {'name': 'Reni Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8000000},
    {'name': 'Dimas Pratama', 'departement': 'Marketing', 'age': 27, 'salary': 8700000},
    {'name': 'Putri Aulia', 'departement': 'Marketing', 'age': 24, 'salary': 7600000},
    {'name': 'Rizal Maulana', 'departement': 'Marketing', 'age': 28, 'salary': 9000000},
    {'name': 'Winda Safira', 'departement': 'Marketing', 'age': 23, 'salary': 7800000},
    {'name': 'Bagas Firmansyah', 'departement': 'Marketing', 'age': 29, 'salary': 9400000},
    {'name': 'Fitri Nabila', 'departement': 'Marketing', 'age': 22, 'salary': 7500000},
    {'name': 'Yoga Saputra', 'departement': 'Marketing', 'age': 27, 'salary': 8800000},
    {'name': 'Siska Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8300000}
]


karyawan_collection.insert_many(karyawan_data)

print("‚úÖ 50 karyawan berhasil dimasukkan ke koleksi 'karyawan'")

# Tampilkan semua data produk untuk verifikasi
print("\nData produk di database:")
for karyawan in karyawan_collection.find():
    print(karyawan)

‚úÖ 50 karyawan berhasil dimasukkan ke koleksi 'karyawan'

Data produk di database:
{'_id': ObjectId('69070c708e012be94cd92dd5'), 'name': 'Ahmad Fauzi', 'departement': 'Programmer', 'age': 24, 'salary': 12000000}
{'_id': ObjectId('69070c708e012be94cd92dd6'), 'name': 'Rina Kartika', 'departement': 'Programmer', 'age': 22, 'salary': 8500000}
{'_id': ObjectId('69070c708e012be94cd92dd7'), 'name': 'Budi Santoso', 'departement': 'Programmer', 'age': 26, 'salary': 10000000}
{'_id': ObjectId('69070c708e012be94cd92dd8'), 'name': 'Nina Aprilia', 'departement': 'Programmer', 'age': 23, 'salary': 9500000}
{'_id': ObjectId('69070c708e012be94cd92dd9'), 'name': 'Rizky Saputra', 'departement': 'Programmer', 'age': 25, 'salary': 11000000}
{'_id': ObjectId('69070c708e012be94cd92dda'), 'name': 'Andi Rahman', 'departement': 'Programmer', 'age': 27, 'salary': 13000000}
{'_id': ObjectId('69070c708e012be94cd92ddb'), 'name': 'Dewi Anggraini', 'departement': 'Programmer', 'age': 24, 'salary': 9000000}
{'_id': ObjectId('69070c708e012be94cd92ddc'), 'name': 'Fajar Maulana', 'departement': 'Programmer', 'age': 28, 'salary': 12500000}
{'_id': ObjectId('69070c708e012be94cd92ddd'), 'name': 'Yusuf Rahmat', 'departement': 'Programmer', 'age': 29, 'salary': 11500000}
{'_id': ObjectId('69070c708e012be94cd92dde'), 'name': 'Lina Nurul', 'departement': 'Programmer', 'age': 23, 'salary': 8800000}
{'_id': ObjectId('69070c708e012be94cd92ddf'), 'name': 'Siti Rahma', 'departement': 'Designer', 'age': 25, 'salary': 9000000}
{'_id': ObjectId('69070c708e012be94cd92de0'), 'name': 'Doni Pratama', 'departement': 'Designer', 'age': 24, 'salary': 8000000}
{'_id': ObjectId('69070c708e012be94cd92de1'), 'name': 'Wulan Ayu', 'departement': 'Designer', 'age': 26, 'salary': 9500000}
{'_id': ObjectId('69070c708e012be94cd92de2'), 'name': 'Hendra Kusuma', 'departement': 'Designer', 'age': 23, 'salary': 8700000}
{'_id': ObjectId('69070c708e012be94cd92de3'), 'name': 'Novi Lestari', 'departement': 'Designer', 'age': 27, 'salary': 10000000}
{'_id': ObjectId('69070c708e012be94cd92de4'), 'name': 'Farah Amalia', 'departement': 'Designer', 'age': 22, 'salary': 8500000}
{'_id': ObjectId('69070c708e012be94cd92de5'), 'name': 'Rafi Ramadhan', 'departement': 'Designer', 'age': 28, 'salary': 9700000}
{'_id': ObjectId('69070c708e012be94cd92de6'), 'name': 'Citra Dewi', 'departement': 'Designer', 'age': 24, 'salary': 9300000}
{'_id': ObjectId('69070c708e012be94cd92de7'), 'name': 'Reza Akbar', 'departement': 'Designer', 'age': 25, 'salary': 8900000}
{'_id': ObjectId('69070c708e012be94cd92de8'), 'name': 'Salsa Nadira', 'departement': 'Designer', 'age': 26, 'salary': 9500000}
{'_id': ObjectId('69070c708e012be94cd92de9'), 'name': 'Bayu Hidayat', 'departement': 'Finance', 'age': 27, 'salary': 7500000}
{'_id': ObjectId('69070c708e012be94cd92dea'), 'name': 'Ayu Fadillah', 'departement': 'Finance', 'age': 26, 'salary': 8200000}
{'_id': ObjectId('69070c708e012be94cd92deb'), 'name': 'Teguh Santoso', 'departement': 'Finance', 'age': 25, 'salary': 7800000}
{'_id': ObjectId('69070c708e012be94cd92dec'), 'name': 'Rika Amelia', 'departement': 'Finance', 'age': 28, 'salary': 8300000}
{'_id': ObjectId('69070c708e012be94cd92ded'), 'name': 'Andika Putra', 'departement': 'Finance', 'age': 30, 'salary': 9000000}
{'_id': ObjectId('69070c708e012be94cd92dee'), 'name': 'Lutfi Hidayah', 'departement': 'Finance', 'age': 24, 'salary': 7600000}
{'_id': ObjectId('69070c708e012be94cd92def'), 'name': 'Sari Indah', 'departement': 'Finance', 'age': 25, 'salary': 8500000}
{'_id': ObjectId('69070c708e012be94cd92df0'), 'name': 'Dian Lestari', 'departement': 'Finance', 'age': 27, 'salary': 8700000}
{'_id': ObjectId('69070c708e012be94cd92df1'), 'name': 'Rino Saputra', 'departement': 'Finance', 'age': 29, 'salary': 9200000}
{'_id': ObjectId('69070c708e012be94cd92df2'), 'name': 'Galuh Prameswari', 'departement': 'Finance', 'age': 23, 'salary': 7400000}
{'_id': ObjectId('69070c708e012be94cd92df3'), 'name': 'Romi Wijaya', 'departement': 'HR', 'age': 28, 'salary': 8800000}
{'_id': ObjectId('69070c708e012be94cd92df4'), 'name': 'Lina Setiawan', 'departement': 'HR', 'age': 27, 'salary': 8500000}
{'_id': ObjectId('69070c708e012be94cd92df5'), 'name': 'Hafiz Maulana', 'departement': 'HR', 'age': 29, 'salary': 9200000}
{'_id': ObjectId('69070c708e012be94cd92df6'), 'name': 'Mega Safitri', 'departement': 'HR', 'age': 26, 'salary': 8700000}
{'_id': ObjectId('69070c708e012be94cd92df7'), 'name': 'Indah Paramita', 'departement': 'HR', 'age': 25, 'salary': 8200000}
{'_id': ObjectId('69070c708e012be94cd92df8'), 'name': 'Andri Kurniawan', 'departement': 'HR', 'age': 30, 'salary': 9500000}
{'_id': ObjectId('69070c708e012be94cd92df9'), 'name': 'Rara Putri', 'departement': 'HR', 'age': 24, 'salary': 8000000}
{'_id': ObjectId('69070c708e012be94cd92dfa'), 'name': 'Fauzan Rizki', 'departement': 'HR', 'age': 23, 'salary': 8300000}
{'_id': ObjectId('69070c708e012be94cd92dfb'), 'name': 'Melisa Rani', 'departement': 'HR', 'age': 28, 'salary': 8900000}
{'_id': ObjectId('69070c708e012be94cd92dfc'), 'name': 'Agus Salim', 'departement': 'HR', 'age': 29, 'salary': 9100000}
{'_id': ObjectId('69070c708e012be94cd92dfd'), 'name': 'Hendra Saputra', 'departement': 'Marketing', 'age': 26, 'salary': 8500000}
{'_id': ObjectId('69070c708e012be94cd92dfe'), 'name': 'Reni Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8000000}
{'_id': ObjectId('69070c708e012be94cd92dff'), 'name': 'Dimas Pratama', 'departement': 'Marketing', 'age': 27, 'salary': 8700000}
{'_id': ObjectId('69070c708e012be94cd92e00'), 'name': 'Putri Aulia', 'departement': 'Marketing', 'age': 24, 'salary': 7600000}
{'_id': ObjectId('69070c708e012be94cd92e01'), 'name': 'Rizal Maulana', 'departement': 'Marketing', 'age': 28, 'salary': 9000000}
{'_id': ObjectId('69070c708e012be94cd92e02'), 'name': 'Winda Safira', 'departement': 'Marketing', 'age': 23, 'salary': 7800000}
{'_id': ObjectId('69070c708e012be94cd92e03'), 'name': 'Bagas Firmansyah', 'departement': 'Marketing', 'age': 29, 'salary': 9400000}
{'_id': ObjectId('69070c708e012be94cd92e04'), 'name': 'Fitri Nabila', 'departement': 'Marketing', 'age': 22, 'salary': 7500000}
{'_id': ObjectId('69070c708e012be94cd92e05'), 'name': 'Yoga Saputra', 'departement': 'Marketing', 'age': 27, 'salary': 8800000}
{'_id': ObjectId('69070c708e012be94cd92e06'), 'name': 'Siska Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8300000}
{'_id': ObjectId('69070d86fa96fba331b86f04'), 'name': 'Ahmad Fauzi', 'departement': 'Programmer', 'age': 24, 'salary': 12000000}
{'_id': ObjectId('69070d86fa96fba331b86f05'), 'name': 'Rina Kartika', 'departement': 'Programmer', 'age': 22, 'salary': 8500000}
{'_id': ObjectId('69070d86fa96fba331b86f06'), 'name': 'Budi Santoso', 'departement': 'Programmer', 'age': 26, 'salary': 10000000}
{'_id': ObjectId('69070d86fa96fba331b86f07'), 'name': 'Nina Aprilia', 'departement': 'Programmer', 'age': 23, 'salary': 9500000}
{'_id': ObjectId('69070d86fa96fba331b86f08'), 'name': 'Rizky Saputra', 'departement': 'Programmer', 'age': 25, 'salary': 11000000}
{'_id': ObjectId('69070d86fa96fba331b86f09'), 'name': 'Andi Rahman', 'departement': 'Programmer', 'age': 27, 'salary': 13000000}
{'_id': ObjectId('69070d86fa96fba331b86f0a'), 'name': 'Dewi Anggraini', 'departement': 'Programmer', 'age': 24, 'salary': 9000000}
{'_id': ObjectId('69070d86fa96fba331b86f0b'), 'name': 'Fajar Maulana', 'departement': 'Programmer', 'age': 28, 'salary': 12500000}
{'_id': ObjectId('69070d86fa96fba331b86f0c'), 'name': 'Yusuf Rahmat', 'departement': 'Programmer', 'age': 29, 'salary': 11500000}
{'_id': ObjectId('69070d86fa96fba331b86f0d'), 'name': 'Lina Nurul', 'departement': 'Programmer', 'age': 23, 'salary': 8800000}
{'_id': ObjectId('69070d86fa96fba331b86f0e'), 'name': 'Siti Rahma', 'departement': 'Designer', 'age': 25, 'salary': 9000000}
{'_id': ObjectId('69070d86fa96fba331b86f0f'), 'name': 'Doni Pratama', 'departement': 'Designer', 'age': 24, 'salary': 8000000}
{'_id': ObjectId('69070d86fa96fba331b86f10'), 'name': 'Wulan Ayu', 'departement': 'Designer', 'age': 26, 'salary': 9500000}
{'_id': ObjectId('69070d86fa96fba331b86f11'), 'name': 'Hendra Kusuma', 'departement': 'Designer', 'age': 23, 'salary': 8700000}
{'_id': ObjectId('69070d86fa96fba331b86f12'), 'name': 'Novi Lestari', 'departement': 'Designer', 'age': 27, 'salary': 10000000}
{'_id': ObjectId('69070d86fa96fba331b86f13'), 'name': 'Farah Amalia', 'departement': 'Designer', 'age': 22, 'salary': 8500000}
{'_id': ObjectId('69070d86fa96fba331b86f14'), 'name': 'Rafi Ramadhan', 'departement': 'Designer', 'age': 28, 'salary': 9700000}
{'_id': ObjectId('69070d86fa96fba331b86f15'), 'name': 'Citra Dewi', 'departement': 'Designer', 'age': 24, 'salary': 9300000}
{'_id': ObjectId('69070d86fa96fba331b86f16'), 'name': 'Reza Akbar', 'departement': 'Designer', 'age': 25, 'salary': 8900000}
{'_id': ObjectId('69070d86fa96fba331b86f17'), 'name': 'Salsa Nadira', 'departement': 'Designer', 'age': 26, 'salary': 9500000}
{'_id': ObjectId('69070d86fa96fba331b86f18'), 'name': 'Bayu Hidayat', 'departement': 'Finance', 'age': 27, 'salary': 7500000}
{'_id': ObjectId('69070d86fa96fba331b86f19'), 'name': 'Ayu Fadillah', 'departement': 'Finance', 'age': 26, 'salary': 8200000}
{'_id': ObjectId('69070d86fa96fba331b86f1a'), 'name': 'Teguh Santoso', 'departement': 'Finance', 'age': 25, 'salary': 7800000}
{'_id': ObjectId('69070d86fa96fba331b86f1b'), 'name': 'Rika Amelia', 'departement': 'Finance', 'age': 28, 'salary': 8300000}
{'_id': ObjectId('69070d86fa96fba331b86f1c'), 'name': 'Andika Putra', 'departement': 'Finance', 'age': 30, 'salary': 9000000}
{'_id': ObjectId('69070d86fa96fba331b86f1d'), 'name': 'Lutfi Hidayah', 'departement': 'Finance', 'age': 24, 'salary': 7600000}
{'_id': ObjectId('69070d86fa96fba331b86f1e'), 'name': 'Sari Indah', 'departement': 'Finance', 'age': 25, 'salary': 8500000}
{'_id': ObjectId('69070d86fa96fba331b86f1f'), 'name': 'Dian Lestari', 'departement': 'Finance', 'age': 27, 'salary': 8700000}
{'_id': ObjectId('69070d86fa96fba331b86f20'), 'name': 'Rino Saputra', 'departement': 'Finance', 'age': 29, 'salary': 9200000}
{'_id': ObjectId('69070d86fa96fba331b86f21'), 'name': 'Galuh Prameswari', 'departement': 'Finance', 'age': 23, 'salary': 7400000}
{'_id': ObjectId('69070d86fa96fba331b86f22'), 'name': 'Romi Wijaya', 'departement': 'HR', 'age': 28, 'salary': 8800000}
{'_id': ObjectId('69070d86fa96fba331b86f23'), 'name': 'Lina Setiawan', 'departement': 'HR', 'age': 27, 'salary': 8500000}
{'_id': ObjectId('69070d86fa96fba331b86f24'), 'name': 'Hafiz Maulana', 'departement': 'HR', 'age': 29, 'salary': 9200000}
{'_id': ObjectId('69070d86fa96fba331b86f25'), 'name': 'Mega Safitri', 'departement': 'HR', 'age': 26, 'salary': 8700000}
{'_id': ObjectId('69070d86fa96fba331b86f26'), 'name': 'Indah Paramita', 'departement': 'HR', 'age': 25, 'salary': 8200000}
{'_id': ObjectId('69070d86fa96fba331b86f27'), 'name': 'Andri Kurniawan', 'departement': 'HR', 'age': 30, 'salary': 9500000}
{'_id': ObjectId('69070d86fa96fba331b86f28'), 'name': 'Rara Putri', 'departement': 'HR', 'age': 24, 'salary': 8000000}
{'_id': ObjectId('69070d86fa96fba331b86f29'), 'name': 'Fauzan Rizki', 'departement': 'HR', 'age': 23, 'salary': 8300000}
{'_id': ObjectId('69070d86fa96fba331b86f2a'), 'name': 'Melisa Rani', 'departement': 'HR', 'age': 28, 'salary': 8900000}
{'_id': ObjectId('69070d86fa96fba331b86f2b'), 'name': 'Agus Salim', 'departement': 'HR', 'age': 29, 'salary': 9100000}
{'_id': ObjectId('69070d86fa96fba331b86f2c'), 'name': 'Hendra Saputra', 'departement': 'Marketing', 'age': 26, 'salary': 8500000}
{'_id': ObjectId('69070d86fa96fba331b86f2d'), 'name': 'Reni Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8000000}
{'_id': ObjectId('69070d86fa96fba331b86f2e'), 'name': 'Dimas Pratama', 'departement': 'Marketing', 'age': 27, 'salary': 8700000}
{'_id': ObjectId('69070d86fa96fba331b86f2f'), 'name': 'Putri Aulia', 'departement': 'Marketing', 'age': 24, 'salary': 7600000}
{'_id': ObjectId('69070d86fa96fba331b86f30'), 'name': 'Rizal Maulana', 'departement': 'Marketing', 'age': 28, 'salary': 9000000}
{'_id': ObjectId('69070d86fa96fba331b86f31'), 'name': 'Winda Safira', 'departement': 'Marketing', 'age': 23, 'salary': 7800000}
{'_id': ObjectId('69070d86fa96fba331b86f32'), 'name': 'Bagas Firmansyah', 'departement': 'Marketing', 'age': 29, 'salary': 9400000}
{'_id': ObjectId('69070d86fa96fba331b86f33'), 'name': 'Fitri Nabila', 'departement': 'Marketing', 'age': 22, 'salary': 7500000}
{'_id': ObjectId('69070d86fa96fba331b86f34'), 'name': 'Yoga Saputra', 'departement': 'Marketing', 'age': 27, 'salary': 8800000}
{'_id': ObjectId('69070d86fa96fba331b86f35'), 'name': 'Siska Amelia', 'departement': 'Marketing', 'age': 25, 'salary': 8300000}

In [ ]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
karyawan_collection = db["karyawan"]

# Aggregation untuk mencari 5 karyawan dengan gaji tertinggi di setiap departemen
pipeline = [
    {"$sort": {"departement": 1, "salary": -1}},  # Urutkan berdasarkan departemen dan gaji tertinggi
    {"$group": {
        "_id": "$departement",
        "top_karyawan": {"$push": {"name": "$name", "salary": "$salary", "age": "$age"}},
    }},
    {"$project": {
        "_id": 0,
        "departement": "$_id",
        "top_5": {"$slice": ["$top_karyawan", 5]}  # Ambil hanya 5 karyawan teratas
    }}
]

results = list(karyawan_collection.aggregate(pipeline))

# Tampilkan hasilnya
for dept in results:
    print(f"\nDepartemen: {dept['departement']}")
    for i, k in enumerate(dept['top_5'], start=1):
        print(f"{i}. {k['name']} - Gaji: {k['salary']} - Umur: {k['age']}")

In [ ]:
from pymongo import MongoClient

# Koneksi ke database
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
karyawan_collection = db["karyawan"]

# Tampilkan jumlah data sebelum penghapusan
print("Jumlah karyawan sebelum penghapusan:", karyawan_collection.count_documents({}))

# Hapus karyawan yang berusia di bawah 25 tahun
delete_result = karyawan_collection.delete_many({"age": {"$lt": 25}})

# Tampilkan jumlah data yang dihapus
print(f"\nJumlah karyawan yang dihapus: {delete_result.deleted_count}")

# Tampilkan jumlah data setelah penghapusan
print("Jumlah karyawan setelah penghapusan:", karyawan_collection.count_documents({}))

# Verifikasi dengan menampilkan beberapa data yang tersisa
print("\nContoh data setelah penghapusan:")
for karyawan in karyawan_collection.find().limit(10):
    print(karyawan)

In [ ]:
from pymongo import MongoClient

# Koneksi ke database
client = MongoClient("mongodb://localhost:27017/")
db = client["company_db"]
karyawan_collection = db["karyawan"]

# Aggregation: total gaji & rata-rata umur per departemen
pipeline = [
    {
        "$group": {
            "_id": "$departement",
            "total_gaji": {"$sum": "$salary"},
            "rata_rata_umur": {"$avg": "$age"},
            "jumlah_karyawan": {"$sum": 1}
        }
    },
    {
        "$project": {
            "_id": 0,
            "departement": "$_id",
            "total_gaji": 1,
            "rata_rata_umur": {"$round": ["$rata_rata_umur", 2]},
            "jumlah_karyawan": 1
        }
    },
    {"$sort": {"departement": 1}}  # urutkan alfabetis
]

results = list(karyawan_collection.aggregate(pipeline))

# Tampilkan hasil laporan
print("=== Laporan Gaji dan Umur Karyawan per Departemen ===\n")
for dept in results:
    print(f"Departemen       : {dept['departement']}")
    print(f"Total Gaji       : Rp {dept['total_gaji']:,}")
    print(f"Rata-rata Umur   : {dept['rata_rata_umur']} tahun")
    print(f"Jumlah Karyawan  : {dept['jumlah_karyawan']}\n")